.recipie
{
      border-radius: 10px;
      box-shadow: 0px 5px 20px rgb(71,71,71);
margin: 20px;
display: flex;
flex-direction: column;
justify-content: space-around;
background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
align-items: center;
min-width: 40%;
width: 400px;
color: teal;
font-family: Arial, Helvetica, sans-serif;


}

.image
{
      border-radius: 50%;
      width: 300px;
      height: 300px;
}